:root {
    --gradient: linear-gradient( 45deg, #845ec2, #d65db1, #ff6f91, #ff9671, #ffc75f, #f9f871);
}

.HomeBannerBackground {
    background-image: var(--gradient);
    /* background-color: green; */
    display: flex;
    height: 90vh;
    background-size: 400%;
    animation: bg-animation 8s infinite alternate;
    align-items: flex-end;
    justify-content: center;
}

@keyframes bg-animation {
    0% {
        background-position: left;
    }
    100% {
        background-position: right;
    }
}